<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gdr.ldr"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Android Soportados -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <!-- Permisos de la aplicación -->

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permisson.ACCESS_WIFI_STATE"/>

    <!-- Vistas o Activities -->
    <!-- Inicio o Login -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Login -->
        <activity
            android:name="com.gdr.ldr.activities.MainLoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Luego de login Home -->
        <activity android:name="com.gdr.ldr.activities.modules.HomeActivity" />

        <!-- Listado de Reclamos -->
        <activity
            android:name="com.gdr.ldr.activities.modules.Claim.ListClaimActivity"
            android:label="@string/title_activity_list_claim" >
        </activity>

        <activity
            android:name=".activities.modules.webview.WebViewActivity"
            android:label="@string/title_activity_web_view" >
        </activity>

        <!-- Servicio en Background que informa la posición
        <service android:name="com.gdr.ldr.service.GPSTracker" />-->

    </application>

</manifest>
